@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-center mb-4">Hej och välkommen till min cykeluthyrning!</h1>
<div class="container w-75">
    <p>
        Detta är en experimentell tjänst skapad för att utforska och lära mig mer om Blazor och Bootstrap.
    </p>
    <p>
        Projektet har utvecklats med ett specifikt syfte: att erbjuda en fiktiv lösning för företag som hyr ut cyklar.
    </p>
    <p>
        Även om denna tjänst är fiktiv och inte är avsedd för produktionsbruk, har den utformats med tanke på användarvänlighet och funktionalitet som kan vara relevanta för företag som hanterar uthyrning av cyklar. Genom att experimentera med Blazor har vi utforskat olika möjligheter och funktioner som kan vara användbara i en riktig miljö.
    </p>
    <p>
        Observera att detta projekt endast är avsedd för utbildningsändamål och är inte en faktisk uthyrningstjänst. Tack för att du tittar in och utforskar mitt arbete med Blazor och Bootstrap!
    </p>
</div>